{% form_theme form _self %}

{% use "bootstrap_4_horizontal_layout.html.twig" %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-outline-blue waves-effect waves-light" type="submit" value="Zmień hasło" />
    </div>
{{ form_end(form) }}
