{% extends 'base.html.twig' %}

{% block title %}Dodaj film{% endblock %}

{% block body %}
    <section class="admin_area">
        <h1 class="admin_area__heading">Dodaj film</h1>

        {{ include('movie/_form.html.twig') }}

        <a class="admin_area__list_link" href="{{ path('movie_index') }}">Powrót do listy</a>
    </section>
{% endblock %}