{% form_theme form _self %}
{% use "bootstrap_4_horizontal_layout.html.twig" %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-outline-blue waves-effect waves-light" type="submit" value="Zapisz zmiany" />
    </div>
{{ form_end(form) }}
