{% extends 'base.html.twig' %}

{% block title %}Nowy seans{% endblock %}

{% block body %}
    <div class="admin_area">
        <h1 class="admin_area__heading">Dodaj seans</h1>

        {{ include('screening/_form.html.twig') }}

        <a class="admin_area__list_link" href="{{ path('screening_index') }}">Powrót do listy</a>
    </div>
{% endblock %}