{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

    <a class="admin_area__list_link" href="{{ path('reservation_index') }}">back to list</a>
{% endblock %}