{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}
{% block body %}
<h2>Set Roles </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
         <button class="btn btn-dark waves-effect waves-light">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}