{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}
{% block body %}
<h2>Awansuj</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
         <button class="btn btn-outline-blue">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}