{% extends 'base.html.twig' %}

{% block title %}Lista filmów{% endblock %}

{% block body %}
    {% if moviesList %}
        <table>
            <thead>
                <th>Nazwa</th>
            </thead>

        {% for movie in moviesList %}

            <tr>
                {#<td>{{ movie.id }}</td>#}
                <td>
                    {{ movie.name }}
                </td>
                <td>
                    <a href="{{ path('showMovie',  {'id': movie.id} ) }}" class="btn btn-dark">Pokaż</a>
                </td>
            </tr>

        {% endfor %}
        </table>
    {% else %}
        <p>Brak filmów do wyświetlenia</p>
    {% endif %}

{% endblock %}
