.admin_area {
  &__heading {
    margin: 1em 0;
  }
  &__table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  &__highlighted_element {
    font-weight: 700;
  }
  .btn {
    font-weight: 700;
  }
  th {
    font-weight: 700;
  }
  .fa-edit{
    padding-top: 1px;
  }
  &__list_link{
    //color: #000000;
    margin: 2em 0;
    display: block;
  }


}