@import "variables.scss";
@import 'bootstrap.min.css';
@import 'mdb.min.css';
@import 'hall.scss';
@import 'home_page.scss';
@import 'movie.scss';
@import 'admin_area.scss';
//@import 'jquery.datetimepicker.css';
//@import 'date-picker.css';

.main-color{
  background: $main-color;
}

.hide {
  display: none;
}

section{
  margin: 1.5em 0;
}