@import "variables.scss";
@import 'bootstrap.min.css';
@import 'mdb.min.css';
@import 'hall.scss';
@import 'home_page.scss';
@import 'movie.scss';
@import 'admin_area.scss';

.main-color{
  background: $main-color;
}

.hide {
  display: none;
}

body{
  padding: 0;
}


section{
  margin: 1.5em 0;
}

.highlight{
  color: $light-blue;
  font-weight:700;
}