{% include 'partials/header.html.twig' %}
{% include 'partials/navbar.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
{% include 'partials/footer.html.twig' %}

