{% extends 'base.html.twig' %}

{% block title %}Edytuj sale{% endblock %}

{% block body %}
    <section class="admin_area">
        <h1 class="admin_area__heading">Edytuj Sale</h1>

        {{ include('hall/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('hall_index') }}">Powrót do listy</a>

        {{ include('hall/_delete_form.html.twig') }}
    </section>
{% endblock %}